                                        Data_Wragling
    It is the process of gathering, collecting and transforming Raw data into another format
    for better understanding, decision_making, and analysis in less_time.

    1) Data Exploration
    2) Dealing With Missing Values
    3) Reshaping Data
    4) Filtering Data

In [ ]:
import pandas as pd

In [ ]:
data = {
    'Name' : ['Ali', 'Jai', 'Aria', 'Qasim', 'Nadir', 'Aliya'],
    'Age' : [14, 14 ,15, 16, 17, 17],
    'Gender' : ['M', 'M', 'F', 'M', 'M', 'F'],
    'Marks' :[90, 70, 'NaN', 77, 'NaN', 88]
}
df = pd.DataFrame(data)
print(df)

Missing Value Treatment

In [ ]:
##Dealing with the missing values
a = avg = 0
for e in df['Marks']:
    if str(e).isnumeric():
        a+=1
        avg+=e

avg /= a            ##Here we are finding the mean

df = df.replace(to_replace='NaN', value=avg)
print(df)

Reshaping The Data

In [ ]:
##Here we are changing the Male, Female to 0,1

df['Gender'] = df['Gender'].map({'M' : 0, 'F' : 1}).astype(float)
print(df)

Filtering The Data

In [ ]:
##Suppose That there is requirement to show only the top scoring students Name, Gender, Marks
df = df[df['Marks']>=80]
print(df)
df = df.drop(['Age'], axis=1)       #axis is 1 beacuse we are removing the column
print(df)

    merge()                                   
pd.merge(data_fram21, data_frame2, on = "field")                
Here field is the name of column which is common in both data frames            
The data frames will be merged on the bases of common attributes

In [ ]:
details = pd.DataFrame({
    'ID': [101, 102, 103, 104, 105, 106,
           107, 108, 109, 110],
    'NAME': ['Jagroop', 'Praveen', 'Harjot',
             'Pooja', 'Rahul', 'Nikita',
             'Saurabh', 'Ayush', 'Dolly', "Mohit"],
    'BRANCH': ['CSE', 'CSE', 'CSE', 'CSE', 'CSE',
               'CSE', 'CSE', 'CSE', 'CSE', 'CSE']})
print(details)

In [ ]:
fees_status = pd.DataFrame(
    {'ID': [101, 102, 103, 104, 105,
            106, 107, 108, 109, 110],
     'PENDING': ['5000', '250', 'NIL',
                 '9000', '15000', 'NIL',
                 '4500', '1800', '250', 'NIL']})
print(fees_status)

In [ ]:
#Merging the above two data frames on the bases of ID
result = pd.DataFrame(pd.merge(details, fees_status, on="ID"))
print(result)

    Groupby()                                   
Group the rows of data based on one or more columns

In [ ]:
#Suppose that we have a data of car selling companies we want to wrangle data where cars
#are sold in year 2010
car_selling_data = pd.DataFrame({'Brand': ['Maruti', 'Maruti', 'Maruti',
                              'Maruti', 'Hyundai', 'Hyundai',
                              'Toyota', 'Mahindra', 'Mahindra',
                              'Ford', 'Toyota', 'Ford'],
                    'Year':  [2010, 2011, 2009, 2013,
                              2010, 2011, 2011, 2010,
                              2013, 2010, 2010, 2011],
                    'Sold': [6, 7, 9, 8, 3, 5,
                             2, 8, 7, 2, 4, 2]})
print(car_selling_data)

In [ ]:
#group the data frame by year
grouped = car_selling_data.groupby('Year')
print(grouped.get_group(2010))

    duplicated()
    datafram.duplicated(subset = none, keep = 'first/last/false')               
keep = 'first' then first value is kept original and rest all will be removed       
keep = 'last' then last value is kept original and rest all will be removed                 
keep = 'false' then all values which are repeated more than once will be removed

In [ ]:
student_data = pd.DataFrame({'Name': ['Amit', 'Praveen', 'Jagroop',
                         'Rahul', 'Vishal', 'Suraj',
                         'Rishab', 'Satyapal', 'Amit',
                         'Rahul', 'Praveen', 'Amit'],
 
                'Roll_no': [23, 54, 29, 36, 59, 38,
                            12, 45, 34, 36, 54, 23],
 
                'Email': ['xxxx@gmail.com', 'xxxxxx@gmail.com',
                          'xxxxxx@gmail.com', 'xx@gmail.com',
                          'xxxx@gmail.com', 'xxxxx@gmail.com',
                          'xxxxx@gmail.com', 'xxxxx@gmail.com',
                          'xxxxx@gmail.com', 'xxxxxx@gmail.com',
                          'xxxxxxxxxx@gmail.com', 'xxxxxxxxxx@gmail.com']})
print(student_data)

In [ ]:
result = student_data.drop_duplicates(subset=['Roll_no'])
print(result)
print()
##Display Duplicated Rows
dupli = student_data[student_data.duplicated('Roll_no')]
print(dupli)
print()
## ~(NOT) is placed to get the non duplicated values
result = student_data[~student_data.duplicated('Roll_no')]
print(result)